.burger-icon{
    width: var(--width-50);
    height: 50px;
    display: none;
    cursor: pointer;
}
.burger-menu-active{
    opacity: 1;
}
.burger.menu{
    width: 100%;
    height: 250px;
    background-color: red;
}
@media screen and (max-width:800px) {
    .burger-icon{
        display: block;
    }
}