.burger-icon{
    width: var(--width-50);
    height: 50px;
    display: none;
    cursor: pointer;
}
.burger-menu{
    opacity: 1;
}
.burger-menu{
    display: none;
    width: 100%;
    height: 250px;
    transition: opacity 500ms ease-in-out;
}
.burger-item
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:800px){
    .burger-icon{
        display: block;
    }
    .burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}