.burger-icon{
    width: var(--width-50);
    height: 50px;
    display: none;
    cursor: pointer;
}
.burger-menu{
    opacity: 1;
}
.burger-menu{
    display: none;
    width: 60%;
    height: 250px;
    transition: opacity 500ms ease-in-out;
    transform: translate(40%);
    position: absolute;
}
.burger-item
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
}
@media screen and (max-width:800px){
    .burger-icon{
        display: block;
    }
    .burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: var(--space-6);
    }
}