:root{
    --color-primary:#1C4D8D;
    --color-secondary:#4988C4;
    --color-warning:#FFDE95;
    --color-danger:#FF7D29;
    --color-text:#2B2A2A;
    --color-header:#F5F2F2;
    --color-subheader:#BDE8F5;

    --width-25:25px;
    --width-50:50px;
    --width-100:100px;
    --width-150:150px;
    --width-200:200px;
    --width-255:255;

    --space-3:3px;
    --space-5:5px;
    --space-6:6px;
    --space-10:10px;
    --space-16:16;

    --box-shadow:1px 1px 2px 2px rgba(0, 0, 0, 0.306);
}