.navbar
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item
{   
    font-size: x-small;
    width: var(--width-100);
    height: 50%;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-secondary);
}

@media screen and (max-width:800px) {
    .navbar
    {
        display: none;
    }
}